.configLine
{
    background-color: purple;
    margin:5px;
    padding:16px;
    width: 50%;
    align-self: center;
}

body
{
    
}

.centerContainer
{
    align-content: center;
    background-color: greenyellow;
    padding: 25px;
    width:80%;
}

.label
{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}